*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    margin: 3rem 5rem;
}

.content{
    display: flex;
    padding-top: 2rem;
}

.text{
    color: white;
    margin: 2rem 0 2rem 3rem;
}

.title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.desc{
    font-family: Open sans;
    font-weight: 400;
    font-size: large;
    padding-bottom: 2rem;
    line-height: 1.5rem;
}

.regis{
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: hsl(257, 42%, 29%);
    box-shadow: 1px 3px 10px rgb(54, 54, 54);
}

.regis:active{
    background-color: hsl(300, 69%, 71%);
    box-shadow: 2px 2px 10px hsl(257, 42%, 29%);
    color: white;
    font-family: Open sans;
    font-weight: 400;
}

.social{
    display: flex;
    justify-content: right;
    padding-top: 3rem;
}

.social svg{
    padding: 0 1rem;
    font-size: 2rem;
    cursor: pointer;
    fill: white;
}

.social svg:active{
    fill: hsl(300, 69%, 71%);
}


/* responsive */
@media only screen and (max-width: 375px){
    
    body{
        background-image: url(images/bg-mobile.svg);
        background-size: 375px;
        background-position-y: top;
    }

    .container{
        margin: 3rem;
    }

    .logo {
        scale: 50%;
        transform: translateX(-60%);
        height: 1rem;
        width: auto;
    }

    .content{
        flex-direction: column;
        margin-top: -9rem;
    }

    .mockup{
        transform: translateX(-75%);
        max-width: 375px;
    }

    .mockup svg{
        resize: both;
        scale: 45%;
    }

    .text{
        justify-content: center;
        text-align: center;
        margin: -6rem -10px 0 -10px;
    }

    .title{
        font-size: 1.5rem;
    }

    .desc{
        font-size: 1rem;
    }

    .regis{
        width: 14rem;
        font-size: medium;
    }

    .social{
        justify-content: center;
    }
}